{% extends 'base.html' %} {% block content %}
<head>
  {% block title %}
  <title>Your Cart</title>
  {% endblock %}
</head>
<style>
  #mydiv2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mydiv {
    position: relative;
    padding: 12px;
  }
  tr {
    text-align: center;
  }
</style>
<div class="" id="mydiv">
  <h4>Cart</h4>
</div>
<div class="container">
  <div class="row">
    {% for product in products %} {% if product.status == "In cart" %}
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="{{product.img_url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{product.name}} (x{{product.quantity}})</h5>
          <p class="card-text">${{product.price}}</p>
          <form action="delete/">
            <button
              type="submit"
              class="btn btn-primary"
              name="item"
              value="{{product.name}}"
            >
              Remove from cart
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
{% if t != 0 %}
<div class="container" id="mydiv">
  <hr />
  <table style="width: 100%">
    <tr>
      <th>Items</th>
      <th>Price</th>
    </tr>
    {% for product in products %} {% if product.status == "In cart" %}
    <tr>
      <td>{{product.name}}</td>
      <td>${{product.price}}</td>
    </tr>
    {% endif %} {% endfor %}
    <tr>
      <td>Total</td>
      <td>${{total}}</td>
    </tr>
    <tr>
      <td>Tax(+ 12%)</td>
      <td>+ ${{tax}}</td>
    </tr>
    <tr>
      <td>Amount payable</td>
      <td>= $<u>{{amount}}</u> (Inclusive all taxes)</td>
    </tr>
  </table>
  <hr />
</div>
<div class="container" id="mydiv2">
  <form action="/orders/" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg" id="cheackout">
      Cheackout
    </button>
    <a href="/products/" class="btn btn-primary btn-lg" id="continue"
      >Continue shopping</a
    >
  </form>
</div>
{% else %}
<div class="container" id="mydiv2">
  <strong><h3>Your cart is empty</h3></strong><br />
</div>
<br /><br />
<div class="container" id="mydiv2">
  <a href="/products/" class="btn btn-primary btn-lg" id="continue"
    >Continue shopping</a
  >
</div>
{% endif %} {% endblock %}
