{% extends 'base.html' %} {% block content %}
<head>
  {% block title %}
  <title>Your Orders</title>
  {% endblock %}
</head>
<style>
  #mydiv2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mydiv {
    position: relative;
    padding: 12px;
  }
</style>
<div class="" id="mydiv">
  <h4>Orders</h4>
</div>
<div class="container">
  <div class="row">
    {% for product in products %} {% if product.status != "In cart" %}
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="{{product.img_url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{product.name}} (x{{product.quantity}})</h5>
          <p class="card-text">${{product.price}}</p>
          <form action="delete/">
            <button
              type="submit"
              class="btn btn-primary"
              name="item"
              value="{{product.name}}"
            >
              Cancel order
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
<div class="container" id="mydiv2">
  <a href="/products/" class="btn btn-primary btn-lg" id="continue"
    >Continue shopping</a
  >
</div>
{% endblock %}
